body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
} 