<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Play - Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <main class="container">
        <!-- Container de login -->
        <div class="login-container">
            <div class="avatar-container">
                <div class="avatar-circle">
                    <img src="https://cdn.tvplaydastorcidas.com/logo-tv-play-00.png" alt="TV Play Logo" class="avatar-image">
                </div>
                <span class="edit-text">Editar</span>
            </div>
            
            <form class="login-form" action="/login" method="POST">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="error-message">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                
                <div class="form-group">
                    <input type="text" name="nome" placeholder="Nome" required>
                </div>
                
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                
                <div class="form-group">
                    <div class="password-container">
                        <input type="password" id="senhaInput" name="senha" placeholder="Senha" required>
                        <div class="toggle-password">
                            <svg xmlns="http://www.w3.org/2000/svg" class="eye-open" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"/><circle cx="12" cy="12" r="3"/></svg>
                            <svg xmlns="http://www.w3.org/2000/svg" class="eye-closed hidden" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9.88 9.88a3 3 0 1 0 4.24 4.24"/><path d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"/><path d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"/><line x1="2" y1="2" x2="22" y2="22"/></svg>
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="login-button">ENTRAR</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html> 