<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV Play - Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <main class="container">
        <!-- Container de login -->
        <div class="login-container">
            <div class="avatar-container">
                <div class="avatar-circle"></div>
                <span class="edit-text">Editar</span>
            </div>
            
            <form class="login-form">
                <div class="form-group">
                    <input type="text" placeholder="Nome" required>
                </div>
                
                <div class="form-group">
                    <input type="email" placeholder="Email" required>
                </div>
                
                <div class="form-group">
                    <input type="password" placeholder="Senha" required>
                </div>
                
                <button type="submit" class="login-button">ENTRAR</button>
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html> 